.dark-mode .article-container {
    background-color: rgb(30, 30, 30);
}

.article-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}


.article-item {
    display: flex;
    flex-direction: column; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    padding: 20px;
}


.article-title {
    font-size: 1.4rem;
    color: #333;
    margin: 0 0 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}


.article-summary {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article-link {
    display: inline-block;
    color: #007bff;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.article-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.article-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}