.topic-menu {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(30, 30, 30);
    position: relative; 
}

.topic-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Gör att listan kan brytas till nästa rad vid behov */
}

.topic-item {
    margin: 0 10px; /* Mellanrum mellan topics */
}

.topic-link {
    text-decoration: none;
    color: white; /* Ändra textfärg till vit */
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease; /* Övergångseffekt vid hover */
}

.topic-link:hover {
    color: #f0f0f0; /* Färg vid hover */
    text-decoration: underline;
}