.topic-menu {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(30, 30, 30, 0.7);
    position: relative; 
}

.topic-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.topic-item {
    margin: 0 10px; 
}

.topic-link {
    border: none; 
    background-color: transparent;
    text-decoration: none;
    color: white; 
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.topic-link:hover {
    text-decoration: underline;
}